*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#styledimg{
    background-image: url(./assets/bp-listicle-10-fun-things-to-do-in-the-sunshine-1024x576.2.jpg);
    width: 100%;
    height: 12.3rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper{
    margin: 0 auto;
    width: 22rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
}

h1{
    padding: 2rem;
}

p{
    width: 80%;
    padding-bottom: 3rem;
    text-align: center;
}